In [2]:
import pandas as pd

stockData = pd.read_csv("./HCLTECH.NS.csv")
stockData

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-13,1043.900024,1084.000000,1041.000000,1077.800049,1031.345459,8253765
1,2023-01-16,1087.000000,1100.449951,1078.550049,1093.699951,1046.559937,4508538
2,2023-01-17,1097.900024,1113.949951,1095.000000,1111.050049,1063.162231,4390338
3,2023-01-18,1118.949951,1125.849976,1114.099976,1115.150024,1067.085449,6905092
4,2023-01-19,1102.349976,1113.349976,1098.750000,1111.400024,1073.120239,2298287
...,...,...,...,...,...,...,...
241,2024-01-08,1435.000000,1452.599976,1430.550049,1447.900024,1447.900024,2025264
242,2024-01-09,1460.599976,1480.949951,1452.349976,1460.400024,1460.400024,3119270
243,2024-01-10,1474.900024,1508.000000,1466.050049,1492.099976,1492.099976,4368914
244,2024-01-11,1500.000000,1500.000000,1474.000000,1484.800049,1484.800049,2271368
245,2024-01-12,1505.000000,1555.000000,1498.500000,1540.800049,1540.800049,5862043

In [3]:
import pandas as pd

class StockAnalyzer:
    def __init__(self, file_path):
        self.stock_data = pd.read_csv(file_path)

    def getMaxHighPrice(self):
        return self.stock_data['High'].max()

    def getMinLowPrice(self):
        return self.stock_data['Low'].min()

    def getAverageVolume(self):
        return self.stock_data['Volume'].mean()

    def getMaxDayGain(self):
        self.stock_data['DayGain'] = self.stock_data['Close'] - self.stock_data['Open']
        return self.stock_data['DayGain'].max()

analyzer = StockAnalyzer("./HCLTECH.NS.csv")
print(analyzer.getMaxHighPrice())
print(analyzer.getMinLowPrice())
print(analyzer.getAverageVolume())
print(analyzer.getMaxDayGain())

1555.0
1016.25
2640535.174796748
69.30004899999994